{% extends "layouts/regular.html" %}
{% from "macros/macros.html" import fractal, navbar %}

{% block content %}
    <section class="generate">
        <h1 class="generate__title hitbox">The Fractal Space</h1>
        <form action="{{ url("fractal") }}" method="get">

            <input aria-label="Fractal Seed"
                   name="seed"
                   type="text"
                   placeholder="Enter anything to generate a fractal..."
                   class="generate_input hitbox">
        </form>
    </section>

    <p class="hitbox">Please be gentle with our server and don't generate a thousand fractals ;)</p>

    <canvas id="bubbles-canvas"></canvas>
    <canvas id="hidden-canvas"></canvas>

    <script src="{{ static("bubbles.js") }}"></script>
    <script async defer>
        window.addEventListener("load", () => {
            const qte = window.innerWidth > 640 ? 30 : 10
            new Animation(qte, "bubbles-canvas").start()
        })
    </script>

{% endblock %}
