/*LA CEST PA A MOI*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*LA CEST A MOI*/

:root {
    --blue-900: #f7fafc;
    --blue-800: #e2f2f7;
    --blue-700: #e2e8f0;
    --blue-500: #a0aec0;
    --blue-400: #7488a5;
    --blue-300: #516482;
    --blue-200: #354157;
    --blue-100: #1a202c;
    --orange: #ffa500;
    --font-fat: "Cantarell", sans-serif;
    --font-thin: "Cantarell Light", sans-serif;
}

* {
    /*border: 1px solid white !important;*/
    border: 0 solid var(--blue-100);
    box-sizing: border-box;
}

:focus {
    border: 2px solid var(--orange);
    transition:
            border-bottom-color 0.3s,
            border-left-color 0.3s,
            border-right-color 0.3s,
            border-top-color 0.3s;
}

em {
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-thin);
    color: var(--blue-900);
    background: var(--blue-100);
}

.narrow_container {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 2em auto;

}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    text-decoration: underline;
}

.top_bar {
    padding: 1.5em 0;
    align-items: center;
    /*background: var(--blue-100);*/
}

.bar__title {
    color: var(--blue-700);
    position: center;
    font-family: var(--font-fat);
}

.top_bar .navbar a {
    margin-left: 2em;
    padding: 0;
    font-family: var(--font-fat);
}


.brouse__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.brouse__card {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background: var(--blue-200);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3), 0 10px 10px -5px rgba(0, 0, 0, 0.12);
}

.brouse__card:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.74);
    z-index: 2;
}


.card__img {
    width: 100%;
    border-radius: 0.25em 0.25em 0 0;
}

.card__title {
    position: center;
    text-align: right;
    font-size: 0.75em;
    padding: 1em;
    color: var(--blue-500);
}

.navbar {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    margin: 0 0 0 0.5rem ;
    font-family: var(--font-fat);
}


.aside__title {
    color: var(--blue-700);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-fat);
}

.aside__subtitle {
    display: block;
    color: var(--blue-500);
    margin-top: 0.5em;
}

.fractal {
    width: 78%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.container {
    display: flex;
}

aside {
    width: 22%;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.aside__spec {
    margin-top: 2rem;
}

.aside__spec li {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__spec li .spec__label {
    color: #cbd5e0;
    padding-right: 2em;
}

.aside__spec li span:not(.spec__label) {
    text-align: right;
}

.gradient-container {
    display: flex;
}
.color-rect {
    width: 1.5em;
    height: 1.5em;
}

.separate_two {
    display: flex;
    justify-content: space-between;
}

.title--about {
    font-size: 2em;
    color: var(--orange);
    font-family: var(--font-fat);
}

.section__title--about {
    font-size: 1.5em;
    margin-top: 1.5em;
    font-family: var(--font-fat);
}

.p--about {
    margin-top: 1em;
    width: 50%;
    text-align: justify;
    line-height: 1.25em;
}