<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Fractal Bot - Web</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
  <h1 class="aside__title">Daily Fractals</h1>
  <section>
      <div>
          <img src="{{ url_for("static", filename="bg.png") }}" alt="">
          <time datetime="d-m-Y">20 Avr 2020</time>
      </div>

      <div>
          <img src="{{ url_for("static", filename="bg.png") }}" alt="">
          <time>20 Avr 2020</time>
      </div>

      <div>
          <img src="{{ url_for("static", filename="bg.png") }}" alt="">
          <time>20 Avr 2020</time>
      </div>
      <div>
          <img src="{{ url_for("static", filename="bg.png") }}" alt="">
          <time>20 Avr 2020</time>
      </div>
      <div>
          <img src="{{ url_for("static", filename="bg.png") }}" alt="">
          <time>20 Avr 2020</time>
      </div>
  </section>

</body>
</html>