{% extends "layouts/regular.html" %}
{% block content %}
    <section class="brouse__container">

        {% for day in days %}
            <a href="{{ url_for("daily_fractal", date=day) }}" class="brouse__card">
                <img src="{{ url_for("static", filename=day.strftime("df/small/%Y-%m-%d.png")) }}"
                     alt="" class="card__img">
                <time datetime="d-m-Y" class="card__title">
                    {{ day.strftime("%d %b %Y") }}
                </time>
            </a>
        {% endfor %}
    </section>

    <footer class="brouse__footer">
        {% if page > 0 %}
            <a href="{{ url_for("brouse", page=page - 1) }}"><- Previous</a>
        {% else %}
            <span></span>
        {% endif %}
        <a href="{{ url_for("brouse", page=page + 1) }}">Next -></a>
    </footer>

{% endblock %}
