<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Fractal Bot - Web</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
  <h1 class="big__title">Daily Fractals</h1>
  <section class="brouse__container">

      {% for day in days %}
          <a href="{{ url_for("daily_fractal", date=day) }}" class="brouse__card">
              <img src="{{ url_for("static", filename=day.strftime("df/%Y-%m-%d-small.png")) }}"
                   alt="" class="card__img">
              <time datetime="d-m-Y" class="card__title">
                  {{ day.strftime("%d %b %Y") }}
              </time>
          </a>
      {% endfor %}

  </section>

</body>
</html>