<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Fractal Bot - Web</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <img src="../static/bg.png" alt="The Fractal" class="fractal">
        <aside>
            <div>
                <nav class="navbar">
                    <a href="latest.html">Latest</a>
                    <a href="browse.html">Brouse</a>
                    <a href="about.html">About</a>
                </nav>

                <h1 class="title">Fractal of the Day</h1>
                <time datetime="Y-m-d" class="subtitle">10<sup>th</sup> April 2020</time>

                <ol class="spec">
                    <li>
                        <span class="label">Position</span>
                        <span>-0.25+0.75i</span>
                    </li>
                    <li>
                        <span class="label">Zoom</span>
                        <span>&times;2000</span>
                    </li>
                    <li>
                        <span class="label">Limit</span>
                        <span>4096</span>
                    </li>
                    <li>
                        <span class="label">Technique</span>
                        <span>Smooth escape time</span>
                    </li>
                    <li>
                        <span class="label">Gradient</span>
                        <span>

                        </span>
                    </li>
                    <li>Gradient:
                        <ul>
                            <li><div>FFA500</div></li>
                            <li><div>E7C44F</div></li>
                            <li><div>95AD74</div></li>
                            <li><div>497E6B</div></li>
                            <li><div>3A5550</div></li>
                        </ul>
                    </li>
                </ol>
            </div>

            <footer>
                <a href="previous.html"><- Previous</a>
                <a href="next.html">Next -></a>
            </footer>
        </aside>
    </div>
</body>
</html>