<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Fractal Bot - Web</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for("static", filename=fractal_src) }}" alt="The Fractal" class="fractal">
        <aside>
            <div>
                <nav class="navbar">
                    <a href="{{ url_for("latest") }}">Latest</a>
                    <a href="{{ url_for("brouse") }}">Brouse</a>
                    <a href="{{ url_for("random") }}">Random</a>
                    <a href="about.html">About</a>
                </nav>

                <h1 class="aside__title">{{ title }}</h1>
                {% if date %}
                    <time datetime="d-m-Y" class="aside__subtitle">{{ date.strftime("%d %b %Y") }}</time>
                {% else %}
                    <h2 class="aside__subtitle">{{ subtitle }}</h2>
                {% endif %}

                <ol class="aside__spec">
                    {% for info in infos %}
                        <li>
                            {% if info.hint %}
                                <abbr title="{{ info.hint }}">
                                    <span class="spec__label">{{ info.label }}</span>
                                </abbr>
                            {% else %}
                                <span class="spec__label">{{ info.label }}</span>
                            {% endif %}
                            <span>{{ info.value }}</span>
                        </li>
                    {% endfor %}

                    <li>
                        <span class="spec__label">Gradient</span>
                        <span class="gradient-container">
                            {% for color in gradient %}
                                <div class="color-rect" style="background: {{ color }}"></div>
                            {% endfor %}
                        </span>
                    </li>
                </ol>
            </div>

            {% if date %}
                <footer class="separate_two">
                    <a href="{{ url_for("daily_fractal", date=date-one_day) }}"><- Previous</a>
                    <a href="{{ url_for("daily_fractal", date=date+one_day) }}">Next -></a>
                </footer>
            {% endif %}

        </aside>
    </div>
</body>
</html>