{% extends "layouts/base.html" %}

{% block body %}
    <div class="narrow_container">
        <nav class="top_bar separate_two">
            <h1 class="bar__title">{{ title }}</h1>
            <div class="navbar">
                <a href="{{ url_for("latest") }}">Latest</a>
                <a href="{{ url_for("brouse") }}">Brouse</a>
                <a href="{{ url_for("random") }}">Random</a>
                <a href="{{ url_for("about") }}">About</a>
            </div>
        </nav>

        {% block content %}
            This is an empty regular page.
        {% endblock %}

    </div>
{% endblock %}