{% extends "layouts/base.html" %}
{% from "macros/macros.html" import fractal, navbar %}

{% block body %}
    <div class="container">

        {{ fractal(seed, True, "fractal") }}

        <aside>
            <div>
                {{ navbar() }}

                <h1 class="aside__title">{{ title }}</h1>
                {% if date %}
                    <time datetime="d-m-Y" class="aside__subtitle">{{ date.strftime("%d %b %Y") }}</time>
                {% else %}
                    <h2 class="aside__subtitle">{{ subtitle }}</h2>
                {% endif %}

                <ol class="aside__spec">
                    {% for info in infos %}
                        <li>
                            {% if info.hint %}
                                <abbr title="{{ info.hint }}">
                                    <span class="spec__label">{{ info.label }}</span>
                                </abbr>
                            {% else %}
                                <span class="spec__label">{{ info.label }}</span>
                            {% endif %}
                            <span>{{ info.value }}</span>
                        </li>
                    {% endfor %}

                    <li>
                        <span class="spec__label">Gradient</span>
                        <span class="gradient-container">
                            {% for color in gradient %}
                                <div class="color-rect" style="background: {{ color }}"></div>
                            {% endfor %}
                        </span>
                    </li>
                </ol>
            </div>

            {% if date %}
                <footer class="separate_two">
                    <a href="{{ url_for("daily_fractal", date=date-one_day) }}"><- Previous</a>
                    <a href="{{ url_for("daily_fractal", date=date+one_day) }}">Next -></a>
                </footer>
            {% endif %}

        </aside>
    </div>
{% endblock %}
